<!-- Page Content -->
<div class="d-flex flex-row">
    <div class="col-3">
        <ul class="list-group" id="menu">
            <li href="#" class="list-group-item menu1 active">
                Menu
            </li>

            <li href="#" class="list-group-item menu1">
                <a href="#">Sản phẩm</a>
            </li>
            <ul>
                <li class="list-group-item menu1">
                    <a href="/seller/products">Xem sản phẩm</a>
                </li>
                <li class="list-group-item menu1">
                    <a href="/seller/products/create">Tạo Sản Phẩm</a>
                </li>
                <li class="list-group-item menu1">
                    <a href="/seller/products/product/edit">Sửa sản phẩm</a>
                </li>
                <li href="#" class="list-group-item menu1">
                    <a href="#">Xóa sản phẩm</a>
                </li>
            </ul>
            <li class="list-group-item menu1">
                <a href="#">Đơn Đặt Hàng</a></li>
            <ul>
                <li class="list-group-item menu1">
                    <a href="/seller/vieworder">Xem hóa đơn</a>
                </li>
                <li class="list-group-item menu1">
                    <a href="/seller/vieworder/order">Xem chi tiết hóa đơn</a>
                </li>
                </li>
            </ul>

        </ul>
    </div>
    <!-- slider -->
    <div class="col-9">
        <div class="container">
            <form method="" action="#">
                <div class="form-group">
                    <label for="exampleFormControlInput1">Product_Name</label>
                    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="">
                </div>
                <div class="form-group">
                    <label for="exampleFormControlSelect1">Category_Name</label>
                    <select class="form-control" id="exampleFormControlSelect1">
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                      </select>
                </div>
                <div class="form-group">
                    <label for="exampleFormControlInput1">Auther</label>
                    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="">
                </div>
                <div class="form-group">
                    <label for="exampleFormControlInput1">NXB</label>
                    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="">
                </div>
                <div class="form-group">
                    <label for="count">Count</label>
                    <input type="number" name="price" id="price" class="form-control"></br>
                </div>
                <div class="form-group">
                    <label for="exampleFormControlInput1">Prince</label>
                    <input type="number" class="form-control" id="exampleFormControlInput1" placeholder="">
                </div>

                <div class="form-group">
                    <label for="exampleFormControlTextarea1">Description</label>
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                </div>
                <div class="form-group">
                    <label for="Hinh">Image</label>
                    <input id="Hinh" name="Hinh" type="file" class="form-control"></br>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </form>
        </div>