<div class="">
    <div class="d-flex flex-row">
        <div class="col-3">
            <img id="myAnimation" src="/images/images.jpg" alt="" class="myAnimation zoom">
        </div>
        <div class="col-9">
            <div class="d-flex justify-content-center">
                <h2>Title </h2>
            </div>
            <div class="d-flex justify-content-center">
                <p>Price $</p>
            </div>
            <div class="d-flex justify-content-center">
                <p>Mô tả sản phẩm và các lượt đấu giá </p>
            </div>
        </div>
    </div>
    <div class="">
        <span class="">
            <img id="01" src="/images/images.jpg" alt="" class="myImages" onclick="showImages(this.id)">
            </span>
        <span class="">
            <img id="02" src="/images/images1.jpeg" alt="" class="myImages" onclick="showImages(this.id)">
            </span>
        <span class="">
            <img id="03" src="/images/images2.jpeg" alt="" class="myImages" onclick="showImages(this.id)">
            </span>
        <span class="">
            <img id="04" src="/images/images3.jpeg" alt="" class="myImages" onclick="showImages(this.id)">
            </span>
        <span class="">
            <img id="05" src="/images/images4.jpeg" alt="" class="myImages" onclick="showImages(this.id)">
            </span>
        <span class="">
            <img id="06" src="/images/images6.jpeg" alt="" class="myImages" onclick="showImages(this.id)">
            </span>
    </div>
</div>

<div class="space20"></div>
<div class="">
    <h5>Thông Số Chi Tiết</h5>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Tên sản phẩm:</th>
                <td>Tên sản phẩm</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="col">NSX:</th>
                <td>Hãng sản xuất</td>
            </tr>
            <tr>
                <th scope="col">MaKD</th>
                <td>9377923256873</td>
            </tr>
            <tr>
                <th scope="col">Luu Y</th>
                <td>
                    Sản phẩm hết hàng hay chưa???
                </td>
            </tr>
        </tbody>
    </table>
</div>
<div class="space20"></div>
<div class="">
    <h5>Mô Tả Sản Phẩm</h5>
    <table class="table">
        <tr>
            <td>Mô tả chi tiết về sản phẩm:</td>
        </tr>
        <tr>
            <td>
                <p>VD: Kiểu dáng hiện đại, tinh tế Smart Tivi Samsung 49 inch UHD 4K UA49NU7100KXXV có thiết kế tinh tế và hiện đại với màn hình mỏng tinh tế, toát lên vẻ đẹp sang trọng nhưng hiện đại, hài hòa với bất kỳ không gian nào trong căn phòng nhà
                    bạn. 3 cạnh viền siêu mỏng giúp mắt tập trung vào từng chi tiết trong mọi khung hình, mang đến trải nghiệm bao trùm mọi giác quan.
                </p>
            </td>
        </tr>
    </table>
</div>
<div class="space20"></div>
<div class="">
    <h5>Bình Luận</h5>
    <div class="well">
        <h4>Viết bình luận ...<span><i class="fas fa-pencil-alt fa-xs"></i></span></h4>
        <form class="form">
            <div class="form-group">
                <textarea class="form-control" rows="3"></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Gửi</button>
        </form>
    </div>
    <!-- Comment -->
    <div class="media m-2">
        <a class="float-left" href="#">
            <img class="mr-3" src="http://placehold.it/64x64" alt="">
        </a>
        <div class="media-body">
            <div class="d-flex flex-row">
                <h4 class="mx-2 mt-0">Start Bootstrap </h4>
                <small> August 25, 2014 at 9:30 PM</small>
            </div>
            Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
        </div>
    </div>

    <!-- Comment -->
    <div class="media m-2">
        <a class="float-left" href="#">
            <img class="mr-3" src="http://placehold.it/64x64" alt="">
        </a>
        <div class="media-body">
            <div class="d-flex flex-row">
                <h4 class="mx-2 mt-0">Start Bootstrap </h4>
                <small> August 25, 2014 at 9:30 PM</small>
            </div>
            Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
        </div>
    </div>
</div>

<div class="space20"></div>
<div class="">
    <h5>Sản Phẩm Liên Quan</h5>
    <div class="d-flex flex-row mt-3">
        <div class="card d-flex justify-content-center" style="width: 2rem;">
            <a href=""><i class="fas fa-angle-double-left fa-2x"></i></a>
        </div>
        <a href="/category/product" class="product_item">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="/images/320x150.png" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">prince</p>
                    <a href="#" class="btn btn-primary">Add Card</a>
                </div>
            </div>
        </a>
        <a href="/category/product" class="product_item">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="/images/320x150.png" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">prince</p>
                    <a href="#" class="btn btn-primary">Add Card</a>
                </div>
            </div>
        </a>
        <a href="/category/product" class="product_item">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="/images/320x150.png" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">prince</p>
                    <a href="#" class="btn btn-primary">Add Card</a>
                </div>
            </div>
        </a>
        <a href="/category/product" class="product_item">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="/images/320x150.png" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">prince</p>
                    <a href="#" class="btn btn-primary">Add Card</a>
                </div>
            </div>
        </a>
        <a href="/category/product" class="product_item">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="/images/320x150.png" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">prince</p>
                    <a href="#" class="btn btn-primary">Add Card</a>
                </div>
            </div>
            <div class="card d-flex justify-content-center" style="width: 2rem;">
                <a href=""><i class="fas fa-angle-double-right fa-2x"></i></a>
            </div>
    </div>
    </a>
</div>
<div class="space20"></div>
<script>
    const images = ['01', '02', '03', '04', '05', '06'];
    let key;

    function showImages(id) {
        const element = document.getElementById(id);
        document.getElementById("myAnimation").setAttribute('src', element.src);
    }
</script>
</div>
</div>