<div class="container">
    <h2>View Order</h2>
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Ngay Mua</th>
                <th scope="col">Ten San Pham</th>
                <th scope="col">The Loai</th>
                <th scope="col">Tong Tien</th>
                <th scope="col">Trang Thai Don</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>Otto</td>
                <td>Otto</td>
                <td>Mark</td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>Otto</td>
                <td>Otto</td>
                <td>Mark</td>

            </tr>
            <tr>
                <th scope="row">3</th>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>Otto</td>
                <td>Otto</td>
                <td>Mark</td>


            </tr>
        </tbody>
    </table>
</div>