<div class="container">
    <h2>View Order Detail</h2>
    <table class="table table-hover">
        <tr>
            <th scope="col">User Name:</th>
            <td scope="col"> Nguyen Thi Kieu Oanh</td>
        </tr>
        <tr>
            <th scope="col">Dia Chi</th>
            <td scope="col"> go vap ,tphcm</td>
        </tr>
        <tr>
            <th scope="col">SDT</th>
            <td scope="col"> 0123456789</td>
        </tr>
        <tr>
            <td>
                <table class="table table-hover">
                    <tr>
                        <th scope="col">STT</th>
                        <th scope="col">Ten</th>
                        <th scope="col">Gia</th>
                        <th scope="col">So Luong</th>
                        <th scope="col">Thanh Tien</th>
                    </tr>
                    <tr>
                        <th scope="row">1</th>
                        <td scope="col">Cherry</td>
                        <td scope="col">20000</td>
                        <td scope="col">2</td>
                        <td scope="col">40000</td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td scope="col">Mark</td>
                        <td scope="col">40000</td>
                        <td scope="col">3</td>
                        <td scope="col">120000</td>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td scope="col">Cake</td>
                        <td scope="col">20000</td>
                        <td scope="col">2</td>
                        <td scope="col">40000</td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <th scope="col">Ma Code</th>
            <td scope="col"> 0123456789</td>
        </tr>
        <tr>
            <th scope="col">Tong Tien</th>
            <td scope="col">200 000</td>
        </tr>



    </table>
</div>